<div class="message-container">
  <% unless message.room.is_private %>
    <h6 class="message-username"> <%= message.user.username %> </h6>
  <% end %>
  <div class="message-content">
    <%= message.content %>
  </div>
</div>
