.msg-form {
  position: fixed;
  bottom: 0;
  width: 90%;
}

.col-md-10 {
  height: 100vh;
  overflow: scroll;
}

.message-username {
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
  word-wrap: break-word;
}

.btn-send {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.message-box {
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555 ;
  padding: 10px
}
